body {
    margin: 0;
    background: #071a3d;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 100px;
}

/* NAVBAR */
nav {
    background: #0b1f4d;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #ddd;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover,
nav a.active {
    color: #ff7b00;
}

/* CONTENT */
.container {
    width: 80%;
    margin: 40px auto;
}

.card {
    background: #11254d;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.card:hover {
    background: #163060;
}

/* MOBILE */
@media (max-width: 700px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 95%;
    }
}
